<!DOCTYPE html>
<html dir="ltr" lang="zh" class=""
      style="background-color: rgb(183, 217, 251); --ntp-theme-text-color:rgba(0, 0, 0, 1);">
<head>
    <meta charset="utf-8">
    <title>张迅太厉害了</title>
    <style>
        h1 {
            font-size: 45px;
        }

        a {
            font-size: 40px;
        }
    </style>
</head>
<body>
<h1 style="color: #4d94ff;text-align:center;">{{ hello }}</h1>
<div style="text-align:center;">
    <a href="http://192.168.2.237:8000/w/">请点击</a>
</div>
</body>
</html>